body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

* {
  box-sizing: border-box;
}

.log {
  white-space: pre;
  font-family: monospace;
  background-color: black;
  color: white;
  padding: 8px;
  overflow: auto;
  height: 120px;
}

.status {
  padding: 8px;
  font-style: italic;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.column {
  display: flex;
  flex-grow: 1;
  width: calc(50% - 5px);
  flex-shrink: 0;
  flex-basis: 1;
  flex-direction: column;
}

.lily-input {
  height: 100%;
}

#result > img {
  max-width: 100%;
  height: auto;
  flex-grow: 0;
}

#result {
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: #f9f9f9;
}
