.file-display {
  width: 100%;
  display: flex;
  gap: 4px;
  flex-direction: column;
  align-items: stretch;
  min-height: 100%;
}

.file-display img {
  max-width: 100%;
  height: auto;
  flex-grow: 0;
}

.file-display object {
  flex-grow: 1;
  width: 100%;
  height: 100%;
}

.file-display .controls {
  display: flex;
  flex-direction: row;
  gap: 4px;
  width: 100%;
}

.file-display .spacer {
  flex-grow: 1;
  flex-basis: 1;
}

.file-display .image-container {
  flex-grow: 1;
}
