name: "docker-2-wasm"
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Convert to wasm
        run: chmod +x build.sh && ./build.sh
      
      - uses: actions/upload-artifact@v4
        with:
          name: lilypond-wasm
          path: lilypond-wasm
